.price {
	font-size: 1.5em;
	font-weight: bold;
	color: #B12704;
}

.currency-symbol {
	font-size: 0.75em;
	vertical-align: top;
}

.decimal-part {
	font-size: 0.75em;
	vertical-align: top;
}

img {
	max-width: 100%;
}

.gallery {
	padding: 80px 0;
}

.gallery img {
	padding: 15px;
	width: 100%;
	box-shadow: 0 0 15px rgb(0, 0, 0, 0.3);
	cursor: pointer;
}

#gallery-modal .modal-img {
	width: 100%;
}
