<header class="text-white text-center py-2">
  <div class="card rounded-5 rounded-top-0 shadow">
    <div class="card-body">
      <nav class="navbar navbar-expand-lg bg-body-secondary-emphasis h5">
        <!-- Logo y título -->
        <a class="navbar-brand btn btn-outline-secondary me-2" href="">
          {{ title }}
        </a>

        <!-- Elementos del menú -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link btn btn-outline-light me-2"
                aria-current="page"
                href=""
              >
                Home
              </a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle btn btn-outline-light me-2"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Opciones
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Contactos</a></li>
                <li><a class="dropdown-item" href="#">Comentarios</a></li>
              </ul>
            </li>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="60"
              height="50"
              fill="currentColor"
              class="bi bi-box-seam-fill"
              viewBox="0 0 16 16"
              style="position: relative; left: 80px; top: 5px"
            >
              <path
                fill-rule="evenodd"
                d="M15.528 2.973a.75.75 0 0 1 .472.696v8.662a.75.75 0 0 1-.472.696l-7.25 2.9a.75.75 0 0 1-.557 0l-7.25-2.9A.75.75 0 0 1 0 12.331V3.669a.75.75 0 0 1 .471-.696L7.443.184l.01-.003.268-.108a.75.75 0 0 1 .558 0l.269.108.01.003zM10.404 2 4.25 4.461 1.846 3.5 1 3.839v.4l6.5 2.6v7.922l.5.2.5-.2V6.84l6.5-2.6v-.4l-.846-.339L8 5.961 5.596 5l6.154-2.461z"
              />
            </svg>
          </ul>

          <!-- Formulario de búsqueda -->
          <form class="d-flex">
            <input
              class="form-control me-2"
              type="search"
              minlength="1"
              maxlength="50"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              Buscar
            </button>
          </form>

          <!-- Botón del carrito -->
          <button
            class="btn btn-outline-primary ms-2"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasRight"
            aria-controls="offcanvasRight"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-cart3"
              viewBox="0 0 16 16"
            >
              <path
                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l.84 4.479 9.144-.459L13.89 4zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"
              />
            </svg>
            Carrito
            <span class="badge bg-secondary">0</span>
          </button>

          <!-- Botón de login y bienvenida -->
          <ng-container *ngIf="!isLoggedIn; else loggedInTemplate">
            <button
              class="btn btn-outline-light ms-2"
              type="button"
              (click)="login()"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-person-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"
                />
              </svg>
              Iniciar sesión
            </button>
          </ng-container>
          <ng-template #loggedInTemplate>
            <button
              class="btn btn-outline-light ms-2"
              type="button"
              data-bs-toggle="toast"
              data-bs-target="#liveToast"
              aria-controls="liveToast"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-person-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"
                />
              </svg>
              Bienvenido/a
            </button>
          </ng-template>

          <!-- Toast para mostrar mensaje de usuario logeado -->
          <button class="btn btn-primary ms-2" id="liveToastBtn">
            Show live toast
          </button>
          <div class="toast-container position-fixed bottom-0 end-0 p-3">
            <div
              id="liveToast"
              class="toast"
              role="alert"
              aria-live="assertive"
              aria-atomic="true"
            >
              <div class="toast-header">
                <img src="..." class="rounded me-2" alt="..." />
                <strong class="me-auto">Bootstrap</strong>
                <small>11 mins ago</small>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="toast"
                  aria-label="Close"
                ></button>
              </div>
              <div class="toast-body">
                Hello, world! This is a toast message.
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>
