<!-- !! Footer de la Página -->
<footer
  id="pie-pagina"
  class="border border-1 rounded-pill border-dark border-opacity-50 text-white py-3"
>
  <div class="col-lg-12 table-responsive">
    <div class="container-fluid text-center shadow">
      <cite title="Source title">
        <p class="lead m-0 copy-right">
          <strong>Copyright &copy; 2024 All rights reserved | Anthony J. Rojas Valdez.</strong>
          <a href="https://github.com/AntRed1"
            ><i class="fa fa-github fs-3" aria-hidden="true"></i
          ></a>
        </p>
      </cite>
    </div>
  </div>
</footer>
