/* You can add global styles to this file, and also import other style files */
:root {
  color-scheme: light dark;
}

body{
  color: light-dark(#333b3c, #efefec);
  background-color: light-dark(#efedea, #2b303b);
  font-family: system-ui, -apple-system, blinkmacsystemfont, "segoe ui", roboto,
    oxygen, ubuntu, cantarell, "open sans", "helvetica neue", sans-serif;
}
